<div class="jumbotron container-fluid" >


  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">


    <a routerLink="/couchdash"
       class="navbar-brand">Coach</a>



    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a routerLink="/login"
             class="nav-link">User SignIn/Up</a>
        </li>





        <li class="nav-item">
          <a routerLink="/couchdash" class="nav-link">Coach Dash</a>
        </li>






      </ul>
    </div>



    <form class="form-inline my-2 my-lg-0 float-right">

      <i class="my-2 my-sm-0 text-white btn" (click)="logout()"><i class="fas fa-power-off"></i></i>
    </form>



  </nav>




  <div class="col-md-4 offset-md-4">
    <div class="card text-center zoom">
      <img class="card-img"
           src="https://images.pexels.com/photos/949127/pexels-photo-949127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
           alt="Card image cap" style="height: 230px">
      <div class="card-img-overlay" style="background: transparent">


        <h1 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Coach Premier Service
        </h1>
        <div class="text-center">
          <i class="fab fa-adn fa-5x fa-spin"></i>
        </div>


      </div>
    </div>
    <h5 class="font-weight-light text-center">{{username}}, you're free to register any no. of meetings</h5>
    <small class="font-weight-light text-center" [ngClass] ="{'active': _id === selectedCouchId}"
    > Coach Code: {{_id}}</small>

  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 text-center">
      <h2>
        Course
      </h2>
      <div *ngFor="let course of courses" class="list-group-item-dark">
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <h4 class="card-title">{{course.title}}</h4>
            <p class="card-text">Course code: {{course._id}}</p>

            <a (click)="selectCourse(course._id)" [ngClass] ="{'active': course._id === selectedCourseId}"
               class="btn btn-outline-info">Check</a> &nbsp;
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-2 text-center">
      <h2>
        Unit
      </h2>
      <div *ngFor="let unit of units" class="list-group-item-light">
        <div class="card border-secondary bg-light text-black-50">
          <div class="card-body">
            <h4 class="card-title">{{unit.title}}</h4>
            <p class="card-text">Unit code: {{unit._id}}</p>

            <a (click)="clickUnit(unit._id)" [ngClass] ="{'active': unit._id === selectedUnitId}"
               class="btn btn-outline-info">Check</a> &nbsp;
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-3 text-center">
      <h2>
        Lesson
      </h2>
      <div *ngFor="let lesson of lessons" class="list-group-item-dark">
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <h4 class="card-title">{{lesson.title}}</h4>
            <p class="card-text">Lesson code: {{lesson._id}}</p>
            <a (click)="clickLesson(lesson._id)" [ngClass] ="{'active': lesson._id === selectedLessonId}"
               class="btn btn-outline-info">Check</a> &nbsp;

          </div>
        </div>

      </div>






    </div>

    <div class="col-lg-5 text-center">
      <h2>
        Meeting
      </h2>
      <div *ngFor="let meeting of meetings" class="list-group-item-dark">
        <div class="mb-8">
          <input [(ngModel)]="date" type="datetime-local" class="form-control" placeholder="2018-08-10 10:00:00">
          <input [(ngModel)]="location" type="text" class="form-control" placeholder="Marino Center, Boston">
          <div>
            <button  (click)="createMeeting(selectedLessonId, _id, date, location)" class="btn btn-dark btn-block" type="button" ><i class="far fa-plus-square">
            </i></button>
            <button  (click)="loadMatch(meeting._id)" class="btn btn-dark btn-block" type="button" ><i class="far fa-user font-weight-light"> Know your trainee (Below)
            </i></button>
          </div>
        </div>
        <br>
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <h4 class="card-title">{{meeting.date |date:'MM/dd/yyyy @ h:mma'}}</h4>
            <p class="card-text">Meeting code: {{meeting._id}}</p>
            <p class="card-text font-weight-light">Location: {{meeting.location}}</p>
            <img width="600" height="450" frameborder="2" style="border:0" class="container-fluid"
                 src= "https://maps.googleapis.com/maps/api/staticmap?center={{meeting.location}}&zoom=14&size=400x400&key=AIzaSyB-VLIXqDDDHL06xnjVdjAnQxYbhAa5opg">

            <a (click)="deleteMeeting(selectedLessonId, meeting._id)"><i class="fa fa-trash btn btn-dark"></i></a>

          </div>
        </div>
      </div>



    </div>



  </div>
  <br>
  <div class="row">

    <div class="col-lg-6">
      <h2 class="font-weight-light">Your matched trainee {{matchs.length}}</h2>
      <div *ngFor="let match of matchs" class="list-group-item-light">
        <div class="card border-secondary bg-light text-black font-weight-light">
          <div class="card-body">
            <h4 class="card-title"> Trainee Code: {{match.user }}</h4>
            <a (click)="loadInfo(match.user)" [ngClass] = "{'active': match.user === selectedUserId}"><i class="fa fa-user-circle btn btn-outline-dark">Info</i></a>
            <p class="card-text">
              Meeting code: {{match.meeting}}</p>
            <h5 class="font-weight-light">Your match is confirmed</h5>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-5">
      <h2 class="font-weight-light">Your matched trainee profile</h2>
      <div *ngFor="let info of info" class="list-group-item-light">
        <div class="card border-secondary bg-dark text-white font-weight-light">
          <div class="card-body">
            <img class="container-fluid" src="{{info.image}}">
            <h4 class="card-title"> Trainee Name: {{info.firstName }} {{info.lastName}} </h4>
            <h4 class="card-title"> Date of Birth : {{info.birthDate |date}} </h4>
            <h5 class="font-weight-light">  Height: {{info.height}} cm</h5>
            <h5 class="font-weight-light">  Weight: {{info.weight}} kg</h5>
            <h5 class="font-weight-light">  Body Fat: {{info.bodyFat | percent}} </h5>
            <br>
            <h5 class="font-weight-light">  Nutrition calculator </h5>
            <h5 class="font-weight-light" style="color: hotpink">
              Daily Calories: {{info.weight*10+info.height*6.25-150+5}} kcal </h5>
            <h5 class="font-weight-light" style="color: hotpink">
              Daily Protein: {{info.weight*1.8}}  ~ {{info.weight*2.5}} g </h5>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
