<div class="jumbotron container-fluid image" >
  <div class="text-center">
    <h1 class="text-center font-weight-bold" style="color: white;opacity: 0.85; text-shadow: 1px 1px #000000" >Amino Planet User Catalog</h1>
  </div>
  <br><br><br>


  <div class="row">

    <div class="col-sm-4">
    <div class="card bg-dark text-white text-center" style="opacity: 0.7">
      <h3 class="font-weight-light">Trainee</h3>
      <div class="card-body">
        <h5>Username: tony</h5>
        <h5>Password: tony</h5>
       <br>
        <h5>Username: tim</h5>
        <h5>Password: tim</h5>
        <br>
        <h5>Username: sun</h5>
        <h5>Password: sun</h5>
        <br>
        <h5>Username: po</h5>
        <h5>Password: po</h5>
        <br>
        <h5>Username: charlie</h5>
        <h5>Password: charlie</h5>
        <br>
        <h5>Username: alice</h5>
        <h5>Password: alice</h5>
      </div>

    </div>
    </div>


    <div class="col-sm-4">
      <div class="card bg-dark text-white text-center" style="opacity: 0.7">
        <h3 class="font-weight-light">Coach</h3>
        <div class="card-body">
          <h5>Username: dan</h5>
          <h5>Password: dan</h5>
          <br>
          <h5>Username: victor</h5>
          <h5>Password: victor</h5>
          <br>
        </div>

      </div>
    </div>

    <div class="col-sm-4">
      <div class="card bg-dark text-white text-center" style="opacity: 0.7">
        <h3 class="font-weight-light">Admin</h3>
        <div class="card-body">
          <h5>Username: admin</h5>
          <h5>Password: admin</h5>
          <br>

        </div>

      </div>
    </div>














  </div>

  <div class="col-md-6 offset-md-3">






    <h4 class="font-weight-light text-white text-center" style="opacity: 0.7"
    >Now {{todayDate |date:'MMM d, y, h:mm:ss a'}}</h4>







  </div>


  <nav class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <a class="navbar-brand text-white" >AminoPlanet <i class="far fa-star fa-spin"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/guest">Guest Page</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/userlist">User list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" href="https://shiwei-person-site.herokuapp.com">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/userlist"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/userlist"><i class="fab fa-instagram"></i></a>
        </li>




      </ul>
    </div>
  </nav>



</div>
