<div class="jumbotron container-fluid image" style="height:100vh;">
  <div class="text-center">
  <h1 class="text-center font-weight-bold" style="color: white;opacity: 0.85; text-shadow: 1px 1px #000000" >Hello, Amino Planet</h1>
  </div>
  <br><br><br>


  <div class="row">
    <div class="col">
      <div class="card text-center zoom2">
        <img class="card-img" src="https://images.pexels.com/photos/949126/pexels-photo-949126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Card image cap" style="height: 180px">
        <div class="card-img-overlay" style="background: transparent">
          <h5 class="card-title">
            <br>
            <h4 class="font-weight-light text-white font-weight-bold" style="text-overline-color: black">Trainer</h4>
            <button   routerLink="/trainerlogin"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Sign In
            </button>
            <button   *ngIf="!auth.isAuthenticated()"
                      (click)="auth.login()"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              SNS Sign In/Up
            </button>

          </h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center zoom">
        <img class="card-img" src="https://images.pexels.com/photos/685533/pexels-photo-685533.jpeg?cs=srgb&dl=athlete-crossfit-exercise-685533.jpg&fm=jpg"
             alt="Card image cap" style="height: 180px">
        <div class="card-img-overlay" style="background: transparent">
          <h5 class="card-title">
            <br>
            <h4 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Coach</h4>

            <button   routerLink="/couchlogin"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Sign In
            </button>
            <button   *ngIf="!auth2.isAuthenticated()"
                      (click)="auth2.login()"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              SNS Sign In/Up
            </button>
          </h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card text-center zoom">
        <img class="card-img" src="https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Card image cap" style="height: 180px">
        <div class="card-img-overlay" style="background: transparent">
          <h5 class="card-title">
            <br>
            <h4 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Admin</h4>
            <button   routerLink='/adminlogin'
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Admin Login
            </button>
          </h5>
        </div>
      </div>
    </div>







  </div>

<div class="col-md-6 offset-md-3">

<br>





  <br><br>




  <br>

  <div class="card" style="opacity: 0.4">
    <div class="card-body">

      <h6 *ngIf="!auth.isAuthenticated()" style="color: black">
        Please also use Login of the Auth0 to Register.
      </h6>





      <blockquote class="blockquote mb-0">


        <footer class="blockquote-footer"><i class="far fa-bell"></i>
          <cite title="Source Title">You can also find main users in the user list below </cite></footer>
      </blockquote>

    </div>
  </div>







  </div>


  <nav class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <a class="navbar-brand text-white" >AminoPlanet <i class="far fa-star fa-spin"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/home">Guest Page</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/User-List">User list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/User-List">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/User-List"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/User-List"><i class="fab fa-instagram"></i></a>
        </li>




      </ul>
    </div>
  </nav>



</div>

