<div class="jumbotron container-fluid image" style="height:100vh;">
  <div class="text-center">
  <h1 class="text-center font-weight-bold" style="color: white;opacity: 0.85; text-shadow: 1px 1px #000000" >Amino Planet</h1>
    <h1 class="text-center font-weight-bold rainbow-text" style="opacity: 1;" >LGBTQ+ Friendly Gym Platform</h1>
  </div>
  <br><br><br>


  <div class="row">
    <div class="col">
      <div class="card text-center zoom2">
        <img class="card-img" src="https://images.pexels.com/photos/949126/pexels-photo-949126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Card image cap" style="height: 180px">
        <div class="card-img-overlay" style="background: transparent">
          <h5 class="card-title">
            <br>
            <h4 class="font-weight-light text-white font-weight-bold" style="text-overline-color: black">Trainee</h4>
            <button   routerLink="/trainerlogin"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Sign In
            </button>
            <button   routerLink="/trainersignup"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Sign Up
            </button>

          </h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center zoom">
        <img class="card-img" src="https://images.pexels.com/photos/685533/pexels-photo-685533.jpeg?cs=srgb&dl=athlete-crossfit-exercise-685533.jpg&fm=jpg"
             alt="Card image cap" style="height: 180px">
        <div class="card-img-overlay" style="background: transparent">
          <h5 class="card-title">
            <br>
            <h4 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Coach</h4>

            <button   routerLink="/couchlogin"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Sign In
            </button>
            <button   routerLink="/couchsignup"
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Sign Up
            </button>
          </h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card text-center zoom">
        <img class="card-img" src="https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Card image cap" style="height: 180px">
        <div class="card-img-overlay" style="background: transparent">
          <h5 class="card-title">
            <br>
            <h4 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Admin</h4>
            <button   routerLink='/adminlogin'
                      class="btn btn-dark btn-block" style="opacity: 0.8">
              Admin Login
            </button>
          </h5>
        </div>
      </div>
    </div>







  </div>

<div class="col-md-6 offset-md-3">

<br>





  <br><br>




  <br>



 <br>
  <h4 class="font-weight-light text-white text-center" style="opacity: 0.7"
  >Today {{todayDate |date:'MMM d, y'}}</h4>







  </div>


  <nav class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <a class="navbar-brand text-white" >AminoPlanet <i class="far fa-star fa-spin"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/guest">Guest Page</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/userlist">User list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" href="https://shiwei-person-site.herokuapp.com">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/userlist"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; opacity: 0.6" routerLink="/userlist"><i class="fab fa-instagram"></i></a>
        </li>




      </ul>
    </div>
  </nav>



</div>

