.image{
  height:auto;
  background-size:cover;
  width:auto;
  background-image: url('https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position:70% 70%;

}

.zoom{

  transition: transform .2s;
  width: 220px;
  height: 150px;

  margin: 0 auto;
}

/*.zoom:hover{*/
/*  transform: scale(1.5);*/
/*}*/

.zoom2{
  transition: transform .2s;

  width: 220px;
  height: 150px;

  margin: 0 auto;

}

/*.zoom2:hover{*/
/*  transform: scale(1.5);*/
/*}*/

.rainbow-text {
  background-image: linear-gradient(to left, rebeccapurple, blueviolet, blue, greenyellow, deeppink, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}
