<div class="jumbotron container-fluid" >


  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">


    <a routerLink="/admindash"
       class="navbar-brand">Admin</a>



    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a routerLink="/login"
             class="nav-link">User SignIn/Up</a>
        </li>





        <li class="nav-item">
          <a routerLink="#" class="nav-link">Course Management</a>
        </li>

        <li class="nav-item">
          <a routerLink="#" class="nav-link">News Update</a>
        </li>




      </ul>
    </div>



    <form class="form-inline my-2 my-lg-0 float-right">

      <i class="my-2 my-sm-0 text-white btn" (click)="logout()"><i class="fas fa-power-off"></i></i>
    </form>



  </nav>




  <div class="col-md-4 offset-md-4">
    <div class="card text-center zoom">
      <img class="card-img" src="https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
           alt="Card image cap" style="height: 230px">
      <div class="card-img-overlay" style="background: transparent">


          <h1 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Admin Dashboard
          </h1>
        <div class="text-center">
          <i class="fab fa-adn fa-5x fa-spin"></i>
        </div>


      </div>
    </div>
  </div>
  <br>
<div class="row">
  <div class="col-lg-6 text-center">
   <h2>
    Trainer List
   </h2>
    <app-admin-user-list></app-admin-user-list>

  </div>
  &nbsp;

  <div class="col-lg-5 text-center">
    <h2>
    Coach List
    </h2>
    <app-admin-couch-list></app-admin-couch-list>

  </div>

</div>




</div>
