<div class="jumbotron container-fluid" >


  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">


    <a routerLink="/dash"
       class="navbar-brand">Trainee</a>



    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a routerLink="/login"
             class="nav-link">User SignIn/Up</a>
        </li>





        <li class="nav-item">
          <a routerLink="/dash" class="nav-link">Trainee Dash</a>
        </li>






      </ul>
    </div>



    <form class="form-inline my-2 my-lg-0 float-right">

      <i class="my-2 my-sm-0 text-white btn" (click)="logout()"><i class="fas fa-power-off"></i></i>
    </form>



  </nav>




  <div class="col-md-4 offset-md-4">
    <div class="card text-center zoom">
      <img class="card-img"
           src="https://images.pexels.com/photos/1092883/pexels-photo-1092883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
           alt="Card image cap" style="height: 230px">
      <div class="card-img-overlay" style="background: transparent">


        <h1 class="font-weight-light font-weight-bold text-white" style="text-overline-color: black">Trainee Premier Service
        </h1>
        <div class="text-center">
          <i class="fab fa-adn fa-5x fa-spin"></i>
        </div>


      </div>
    </div>
    <h4 class="font-weight-light text-center">{{username}}, you're free to register more match times</h4>
    <small class="font-weight-light">{{_id}}</small>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 text-center">
      <h2>
        Course
      </h2>
      <div *ngFor="let course of courses" class="list-group-item-dark">
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <h4 class="card-title">{{course.title}}</h4>
            <p class="card-text">Course code: {{course._id}}</p>

            <a (click)="selectCourse(course._id)" [ngClass] ="{'active': course._id === selectedCourseId}"
               class="btn btn-outline-info">Check</a> &nbsp;
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-2 text-center">
      <h2>
        Unit
      </h2>
      <div *ngFor="let unit of units" class="list-group-item-light">
        <div class="card border-secondary bg-light text-black-50">
          <div class="card-body">
            <h4 class="card-title">{{unit.title}}</h4>
            <p class="card-text">Unit code: {{unit._id}}</p>

            <a (click)="clickUnit(unit._id)" [ngClass] ="{'active': unit._id === selectedUnitId}"
               class="btn btn-outline-info">Check</a> &nbsp;
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-2 text-center">
      <h2>
        Lesson
      </h2>
      <div *ngFor="let lesson of lessons" class="list-group-item-dark">
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <h4 class="card-title">{{lesson.title}}</h4>
            <p class="card-text">Lesson code: {{lesson._id}}</p>
            <a (click)="clickLesson(lesson._id)" [ngClass] ="{'active': lesson._id === selectedLessonId}"
               class="btn btn-outline-info">Check</a> &nbsp;
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-6 text-center">
      <h2>
        Meeting
      </h2>
      <div *ngFor="let meeting of meetings" class="list-group-item-dark">
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <h4 class="card-title">{{meeting.date |date:'MM/dd/yyyy @ h:mma'}}</h4>
            <p class="card-text">
              Meeting code: {{meeting._id}}</p>
            <a
              class="btn btn-outline-info" (click)="clickCouch(meeting.couch)"
              [ngClass] ="{'active': meeting.couch === selectedCouchId}">Coach Info (See below)</a>
            &nbsp;
            <a
              class="btn btn-outline-warning" (click)="loadMatch(meeting._id)"
              [ngClass] ="{'active': meeting._id === selectedMeetingId}">Start ur match/Show match</a>
            <br>

            <small class="font-weight-light"
            >Coach code: {{meeting.couch}}</small>
            <br><br>
            <h5 class="font-weight-light">Location: {{meeting.location}}</h5>
            <img width="600" height="450" frameborder="2" style="border:0" class="container-fluid"
                 src= "https://maps.googleapis.com/maps/api/staticmap?center={{meeting.location}}&zoom=14&size=400x400&key=AIzaSyB-VLIXqDDDHL06xnjVdjAnQxYbhAa5opg">
          </div>
        </div>
      </div>


    </div>



  </div>

  <div class="row">

    <div class="col-lg-6 text-center">
      <h2 class="font-weight-light"> Your Partner Coach Info</h2>

      <div *ngFor="let info2 of info2" class="list-group-item-dark">
        <div class="card border-secondary bg-dark text-white">
          <div class="card-body">
            <img class="container-fluid" src="{{info2.image}}">
            <h5 class="font-weight-light">  First Name: {{info2.firstName}} </h5>
            <h5 class="font-weight-light">  Last Name: {{info2.lastName}} </h5>
            <h5 class="font-weight-light">  Date of Birth: {{info2.birthDate | date}} </h5>
            <h5 class="font-weight-light">  Height: {{info2.height}} cm</h5>
            <h5 class="font-weight-light">  Weight: {{info2.weight}} kg</h5>
            <h5 class="font-weight-light">  Body Fat: {{info2.bodyFat | percent}} </h5>
            <small>Couch Code: {{selectedCouchId}}</small> <br>
            <small>Available Meeting Code: {{selectedMeetingId}}</small>

            <br>
            <h5 class="font-weight-light">  Nutrition calculator </h5>
            <h5 class="font-weight-light" style="color: hotpink">
              Daily Calories: {{info2.weight*10+info2.height*6.25-150+5}} kcal </h5>
            <h5 class="font-weight-light" style="color: hotpink">
              Daily Protein: {{info2.weight*1.8}}  ~ {{info2.weight*2.5}} g </h5>

            <a
              class="btn btn-outline-danger" (click)="createMatch(selectedMeetingId, selectedCouchId, _id)"

            >
              Match</a>

            <br>
            <small class="font-weight-light">Please press Start Ur Match button at meeting card first and then match here</small>



          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <h2>Match {{matchs.length}}</h2>
      <h6 class="font-weight-light">Matches means the follow-ups you would receive from our coach </h6>
      <div *ngFor="let match of matchs" class="list-group-item-light">
        <div
             class="card border-secondary bg-light text-black">
          <div class="card-body">
            <h4 class="card-title"> Coach Code: {{match.couch }}</h4>
            <p class="card-text">
              Meeting code: {{match.meeting}}</p>
            <h5 class="font-weight-light">Your match is confirmed</h5>

            <a (click)="deleteMatch(match.meeting, match._id)"><i class="fa fa-trash btn btn-outline-dark"></i></a>

            <br><br>

          </div>
        </div>



      </div>




    </div>




  </div>



</div>
